
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>@_ddrscott_</title>
  <meta name="author" content="Scott Pierce">

  
  <meta name="description" content="  {% include custom/hero.html %}      {% include custom/home_landing_row.html %}      {% for post in paginator.posts %} {% assign content = post.content %}   {% include article_listing.html %}   {% endfor %}     {% if paginator.next_page %} &larr; Older {% endif %} {% if paginator.previous_page %} Newer &rarr; {% endif %}   " />

  

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="https://ddrscott.github.io" />
  <meta name="twitter:creator" content="@_ddrscott_" />
  
  
  <meta property="og:description" content="  {% include custom/hero.html %}      {% include custom/home_landing_row.html %}      {% for post in paginator.posts %} {% assign content = post.content %}   {% include article_listing.html %}   {% endfor %}     {% if paginator.next_page %} &larr; Older {% endif %} {% if paginator.previous_page %} Newer &rarr; {% endif %}   " />

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="https://ddrscott.github.io/page7">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="@_ddrscott_" type="application/atom+xml">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="./javascripts/libs/jquery.min.js"%3E%3C/script%3E'))</script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
</head>

  <body>
    <a href="/" class="home-icon">
      <img src="/images/home.png"/>
    </a>

    <div class="home-page">
  <div class="hero">
    <h1>@_ddrscott_</h1>
<p>writer of code – thinker of thoughts</p>

  </div>

  <div class="home-field">
    <div class="home-landing her-row">
      <div class="container">
        <div class="row">
          <div id="about-me" class="col-md-offset-3 col-md-6">
  <h4>about me</h4>
  <p>
      I am a software guy with 20+ years experience.
      When I&#8217;m not writing code, I&#8217;m thinking about it.
      I have a wife I don&#8217;t deserve and 2 sons that don&#8217;t know better.
  </p>
  <ul class="list-inline">
      <li>Ruby on Rails</li>
      <li>HTML/CSS/JS</li>
      <li>SocketIO</li>
      <li>Lab</li>
      <li>Android</li>
      <li>iOS</li>
      <li>SQL</li>
      <li>Redis</li>
      <li>Solr</li>
      <li>CouchDB</li>
      <li>AWS</li>
      <li>CLI</li>
  </ul>
  <div class="social-icon-list">
    <a title="GitHub" href="https://github.com/ddrscott"><img src="/images/glyphicons_social_21_github.png"/></a>
    <a title="E-Mail" href="mailto:ddrscott@gmail.com"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
  </div>
</div>

        </div>
      </div>
    </div>

    <div class="article-list">
      <div class="container">
        
          
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <article>
  <h2><a href="/blog/2010/klava-helps-you-hone-your-touch-typing-skills-1/">Klava Helps You Hone Your Touch Typing Skills [Typing]</a></h2>
  
  <p>
    <p>Time to brush up on my keyboarding skills. I&#8217;ve got people to keep
up with now.</p>

  </p>
  <span class="meta">
    written 








  



<time datetime="2010-01-11T20:40:15-06:00" pubdate data-updated="true">Jan 11<sup>th</sup>, 2010</time>
    


  </span>

  
    <a class="full-article-link pull-right" rel="full-article" href="/blog/2010/klava-helps-you-hone-your-touch-typing-skills-1/">Read on &rarr;</a>
  
</article>

            </div>
          </div>
        
          
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <article>
  <h2><a href="/blog/2010/klava-helps-you-hone-your-touch-typing-skills-0/">Klava Helps You Hone Your Touch Typing Skills [Typing]</a></h2>
  
  <p>
    <p>Time to brush up on my keyboarding skills. I&#8217;ve got people to keep
up with now.</p>

  </p>
  <span class="meta">
    written 








  



<time datetime="2010-01-11T20:39:58-06:00" pubdate data-updated="true">Jan 11<sup>th</sup>, 2010</time>
    


  </span>

  
    <a class="full-article-link pull-right" rel="full-article" href="/blog/2010/klava-helps-you-hone-your-touch-typing-skills-0/">Read on &rarr;</a>
  
</article>

            </div>
          </div>
        
          
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <article>
  <h2><a href="/blog/2009/kim-peek-inspiration-for-rain-man-dies-at-58-0/">Kim Peek, Inspiration for ‘Rain Man,’ Dies at 58 - Obituary (Obit)</a></h2>
  
  <p>
    <p>In 1988, the film &acirc;&euro;&oelig;Rain Man,&acirc;&euro;
about an autistic savant played by <a href=
  "http://topics.nytimes.com/top/reference/timestopics/people/h/dustin_hoffman/index.html?inline=nyt-per"
  title="More articles about Dustin Hoffman">Dustin Hoffman</a>, shed
a humane light on the travails of autism while revealing the
extraordinary powers of memory that a small number of otherwise
mentally disabled people possess, ostensibly as a side effect of
their disability.</p>


  </p>
  <span class="meta">
    written 








  



<time datetime="2009-12-29T10:04:47-06:00" pubdate data-updated="true">Dec 29<sup>th</sup>, 2009</time>
    


  </span>

  
    <a class="full-article-link pull-right" rel="full-article" href="/blog/2009/kim-peek-inspiration-for-rain-man-dies-at-58-0/">Read on &rarr;</a>
  
</article>

            </div>
          </div>
        
          
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <article>
  <h2><a href="/blog/2009/this-will-be-my-next-snow-suit/">The Japanese Snuggie Devolves Humans Into Giant, Two-Legged Tadpoles</a></h2>
  
  <p>
    <p>This will be my next snow suit!</p>

  </p>
  <span class="meta">
    written 








  



<time datetime="2009-12-23T23:51:29-06:00" pubdate data-updated="true">Dec 23<sup>rd</sup>, 2009</time>
    


  </span>

  
    <a class="full-article-link pull-right" rel="full-article" href="/blog/2009/this-will-be-my-next-snow-suit/">Read on &rarr;</a>
  
</article>

            </div>
          </div>
        
          
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <article>
  <h2><a href="/blog/2009/friendly-easy-schemaless-nosql-data-storage-w/">Friendly: Easy Schemaless “NoSQL” Data Storage with MySQL in Ruby</a></h2>
  
  <p>
    <p>Sounds like a nice idea if you want document services with the
comfortable administration of MySQL.</p>

  </p>
  <span class="meta">
    written 








  



<time datetime="2009-12-21T09:35:47-06:00" pubdate data-updated="true">Dec 21<sup>st</sup>, 2009</time>
    


  </span>

  
    <a class="full-article-link pull-right" rel="full-article" href="/blog/2009/friendly-easy-schemaless-nosql-data-storage-w/">Read on &rarr;</a>
  
</article>

            </div>
          </div>
        
          
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <article>
  <h2><a href="/blog/2009/you-have-nothing-to-apologize-for-panera-brea/">You Have Nothing to Apologize For, Panera Bread iMac Man [Image 	Cache]</a></h2>
  
  <p>
    <p>Lets all get iMacs and have a Lan party while sipping some broccoli
cheddar soup.</p>

  </p>
  <span class="meta">
    written 








  



<time datetime="2009-12-18T16:04:14-06:00" pubdate data-updated="true">Dec 18<sup>th</sup>, 2009</time>
    


  </span>

  
    <a class="full-article-link pull-right" rel="full-article" href="/blog/2009/you-have-nothing-to-apologize-for-panera-brea/">Read on &rarr;</a>
  
</article>

            </div>
          </div>
        
          
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <article>
  <h2><a href="/blog/2009/tools-of-the-trade-web-development-frameworks/">Tools of the Trade: Web Development Frameworks that the Pros Use</a></h2>
  
  <p>
    <p>So many choices. I&#8217;m glad Rails got on there, otherwise I&#8217;d have to
start a flame war.</p>

  </p>
  <span class="meta">
    written 








  



<time datetime="2009-12-17T17:34:41-06:00" pubdate data-updated="true">Dec 17<sup>th</sup>, 2009</time>
    


  </span>

  
    <a class="full-article-link pull-right" rel="full-article" href="/blog/2009/tools-of-the-trade-web-development-frameworks/">Read on &rarr;</a>
  
</article>

            </div>
          </div>
        
          
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <article>
  <h2><a href="/blog/2009/live-today-live-tomorrow-with-the-archos-9/">Live Today, Live Tomorrow with the Archos 9.</a></h2>
  
  <p>
    <p>Too bad my Christmas list is full.</p>

<div class=""><a href=
    "http://feedproxy.google.com/~r/carrypadfullfeed/~3/OoMf-ZhEg1U/">Live
    Today, Live Tomorrow with the Archos 9.</a></div>


<div class="c2">via <a href="http://www.umpcportal.com" class=
    "f">UMPCPortal</a> by Chippy on 12/17/09</div>


<br class="c3">


<p><iframe marginheight="0" scrolling="no" marginwidth="0" src=
  "http://feedads.g.doubleclick.net/~ah/f/07f58fjstjaq7ncmnn6ed0g2a0/300/250?ca=1&amp;fh=280#http%3A%2F%2Fwww.umpcportal.com%2F2009%2F12%2Flive-today-live-tomorrow-with-the-archos-9%2F"
  frameborder="0" height="280" width="100%"></iframe></p>


<p><img src=
"http://www.umpcportal.com/gallery/d/17530-2/archos9intro.jpg"
height="279" alt="archos9intro" width="400" class="c4"></p>


<p>In a few hours, I&acirc;&euro;&trade;ll be down in the studio
playing around with the Archos 9 that is on it&acirc;&euro;&trade;s
way from the DHL depot. I won&acirc;&euro;&trade;t be too
interactive as I want to record an unboxing video and some testing
in preparation for the real live session with <a href=
  "http://jkkmobile.com">JKK</a> (one of our Friday night,
bring-your-own-bottle sessions) on Friday evening starting at 2130
CET. (<a href=
  "http://www.timeanddate.com/worldclock/fixedtime.html?day=18&amp;month=12&amp;year=2009&amp;hour=21&amp;min=30&amp;sec=0&amp;p1=37">Check
  your time here</a>)</p>


<p>Live sessions take place in the <a href=
  "http://umpcportal.com/live">LIVE page</a> which is always
available (and open for chat <a href=
  "http://www.umpcportal.com/modules/newbb/viewtopic.php?topic_id=6030&amp;forum=5">
  via IRC</a>)</p>


<p>In the live session we&acirc;&euro;&trade;ll be talking about
the <a href="http://umpcportal.com/products/archos/9">Archos 9</a>,
the <a href=
  "http://umpcportal.com/products/archos/5%20internet%20tablet">Archos
  5</a>, the <a href=
  "http://umpcportal.com/products/motorola/droid">Motorola
  Droid/Milestone</a> and the <a href=
  "http://umpcportal.com/products/eking/s515">Eking S515</a> (also
known as the PsiXPDA)</p>


<p>We look forward to seeing you.</p>


<p>Thanks for <a href="http://mobilx.eu">Mobilx.eu</a> for sending
the Archos 9 over for testing.</p>


<p class="c6"><a href=
  "http://www.umpcportal.com/wp-content/uploads/2009/12/IMG_0572.jpg">
  <img src=
  "http://www.umpcportal.com/wp-content/uploads/2009/12/IMG_0572_thumb.jpg"
  border="0" height="280" alt="IMG_0572" width="372" class=
  "c5"></a></p>


<p>Related posts:</p>


<ol>
  <li><a href=
    "http://www.umpcportal.com/2009/12/psixpda-umpc-launches-in-uk-us-europe/"
    title="Permanent Link: PsiXPDA UMPC Launches in UK, US, Europe."
    rel="bookmark">PsiXPDA UMPC Launches in UK, US, Europe.</a>
  <small>PsiXPDA have launched in the UK and their first
    product&#8230;</small></li>
  <li><a href=
    "http://www.umpcportal.com/2009/11/live-podcast-and-e-king-s515-videocast-today-2130-cet/"
    title=
    "Permanent Link: Live Podcast and E-King S515 Videocast Today. 2130 CET."
    rel="bookmark">Live Podcast and E-King S515 Videocast Today. 2130
    CET.</a> <small>Sorry about the late notice on this one
    but&#8230;</small></li>
  <li><a href=
    "http://www.umpcportal.com/2009/10/motorola-droid-preview-from-bgr/"
    title="Permanent Link: Motorola Droid Preview from BGR" rel=
    "bookmark">Motorola Droid Preview from BGR</a> <small>The Boy
    Genius Report has their hands on a&#8230;</small></li>
</ol>


<div><a href=
    "http://feeds.feedburner.com/~ff/carrypadfullfeed?a=OoMf-ZhEg1U:Uie3vA2IL8w:Qwsim_uQbKI">
    <img src=
    "http://feeds.feedburner.com/~ff/carrypadfullfeed?d=Qwsim_uQbKI"
    border="0"></a> <a href=
    "http://feeds.feedburner.com/~ff/carrypadfullfeed?a=OoMf-ZhEg1U:Uie3vA2IL8w:yIl2AUoC8zA">
    <img src=
    "http://feeds.feedburner.com/~ff/carrypadfullfeed?d=yIl2AUoC8zA"
    border="0"></a> <a href=
    "http://feeds.feedburner.com/~ff/carrypadfullfeed?a=OoMf-ZhEg1U:Uie3vA2IL8w:YwkR-u9nhCs">
    <img src=
    "http://feeds.feedburner.com/~ff/carrypadfullfeed?d=YwkR-u9nhCs"
    border="0"></a> <a href=
    "http://feeds.feedburner.com/~ff/carrypadfullfeed?a=OoMf-ZhEg1U:Uie3vA2IL8w:I9og5sOYxJI">
    <img src=
    "http://feeds.feedburner.com/~ff/carrypadfullfeed?d=I9og5sOYxJI"
    border="0"></a></div>


<p><img src=
"http://feeds.feedburner.com/~r/carrypadfullfeed/~4/OoMf-ZhEg1U"
height="1" width="1"></p>

  </p>
  <span class="meta">
    written 








  



<time datetime="2009-12-17T09:15:29-06:00" pubdate data-updated="true">Dec 17<sup>th</sup>, 2009</time>
    


  </span>

  
</article>

            </div>
          </div>
        
          
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <article>
  <h2><a href="/blog/2009/openid-ends-2009-with-1-billion-users/">OpenID Ends 2009 With 1 Billion Users</a></h2>
  
  <p>
    <p>I really need to get on this band wagon.</p>

<div class=""><a href=
    "http://feedproxy.google.com/~r/readwriteweb/~3/NbfMdVIgEjc/openid_ends_2009_with_1_billion_users.php">
    OpenID Ends 2009 With 1 Billion Users</a></div>


<div class="c2">via <a href="http://www.readwriteweb.com/" class=
    "f">ReadWriteWeb</a> by Jolie O&#8217;Dell on 12/16/09</div>


<br class="c3">


<p><img src="http://www.readwriteweb.com/openID-logo.png">At the
close of a whiz-bang year, OpenID has a lot to be proud of.</p>


<p>With a community of 9 million sites that use OpenID logins and 1
billion individual users, OpenID has effectively revolutionized the
way we are able to create and maintain portable identities. Best of
all, it&#8217;s not just bloggers and geeks who sang OpenID&#8217;s praises:
The U.S. federal <a href=
  "http://www.readwriteweb.com/archives/openid_going_mainstream_us_gov_announces_pilot_pro.php">
  government got on board</a> this year, too.</p>


<p class="c4"><em>Sponsor</em><br>
<a href=
  "http://d.ads.readwriteweb.com/ck.php?n=a6d5ead9&amp;cb=17472"><img src="http://d.ads.readwriteweb.com/avw.php?zoneid=14&amp;cb=17472&amp;n=a6d5ead9"
  border="0" alt=""></a></p>


<p>OpenID accounts are enabled by such providers as AOL, Blogger,
Flickr, Google, LiveJournal, MySpace, Verisign, WordPress and Yahoo
with announcements of upcoming OpenIDs from Microsoft and PayPal.
Sites that allow users to login with OpenID range from major
retailers and music labels to news organizations and social
sites.</p>


<p>As for the government, at the Gov 2.0 Summit in Washington, DC,
earlier this year, the General Services Administration and several
government agencies announced they would adopt OpenID as part of
the White House&#8217;s Open Government Initiative. Participating
companies included Yahoo!, PayPal, Google, Equifax, AOL, VeriSign,
Acxiom, Citi, Privo and Wave Systems. On the government side is the
Center for Information Technology (CIT), National Institutes of
Health (NIH), U.S. Department of Health and Human Services (HHS),
and related agencies.</p>


<p>Not only is the government&#8217;s involvement a vote of confidence
for OpenID&#8217;s innovation; it also speaks to the product&#8217;s security
progress, which was spearheaded by security committee head and
PayPal exec Andrew Nash.</p>


<p>In addition to developing and spreading the OpenID product,
there&#8217;s also the OpenID Foundation, which appointed its first
executive committee, including Chris Messina and Don Thibeau, in
2009.</p>


<p>Portable identity is one of our favorite themes from this year,
and we applaud what OpenID has been able to accomplish. What do you
look forward to seeing from the product, the foundation and OpenID
partner sites in the year to come? Let us know your thoughts in the
comments.</p>


<p><strong>&lt;a href=</p>

<pre><code>"http://www.readwriteweb.com/archives/openid_ends_2009_with_1_billion_users.php#comments-open"&gt;Discuss&lt;/a&gt;&lt;/strong&gt;
</code></pre>

<p><iframe marginheight="0" scrolling="no" marginwidth="0" src=
  "http://feedads.g.doubleclick.net/~ah/f/bh8m03d07dnj95a0qa1ma5k32c/468/60#http%3A%2F%2Fwww.readwriteweb.com%2Farchives%2Fopenid_ends_2009_with_1_billion_users.php"
  frameborder="0" height="60" width="100%"></iframe></p>


<div><a href=
    "http://feeds.feedburner.com/~ff/readwriteweb?a=NbfMdVIgEjc:f-l9fuGZCGs:FFnlKYwJmN0">
    <img src=
    "http://feeds.feedburner.com/~ff/readwriteweb?d=FFnlKYwJmN0"
    border="0"></a> <a href=
    "http://feeds.feedburner.com/~ff/readwriteweb?a=NbfMdVIgEjc:f-l9fuGZCGs:Ij26kaj3iuU">
    <img src=
    "http://feeds.feedburner.com/~ff/readwriteweb?d=Ij26kaj3iuU"
    border="0"></a> <a href=
    "http://feeds.feedburner.com/~ff/readwriteweb?a=NbfMdVIgEjc:f-l9fuGZCGs:C2pbw5bZMiI">
    <img src=
    "http://feeds.feedburner.com/~ff/readwriteweb?d=C2pbw5bZMiI"
    border="0"></a> <a href=
    "http://feeds.feedburner.com/~ff/readwriteweb?a=NbfMdVIgEjc:f-l9fuGZCGs:yIl2AUoC8zA">
    <img src=
    "http://feeds.feedburner.com/~ff/readwriteweb?d=yIl2AUoC8zA"
    border="0"></a> <a href=
    "http://feeds.feedburner.com/~ff/readwriteweb?a=NbfMdVIgEjc:f-l9fuGZCGs:V_sGLiPBpWU">
    <img src=
    "http://feeds.feedburner.com/~ff/readwriteweb?i=NbfMdVIgEjc:f-l9fuGZCGs:V_sGLiPBpWU"
    border="0"></a> <a href=
    "http://feeds.feedburner.com/~ff/readwriteweb?a=NbfMdVIgEjc:f-l9fuGZCGs:gIN9vFwOqvQ">
    <img src=
    "http://feeds.feedburner.com/~ff/readwriteweb?i=NbfMdVIgEjc:f-l9fuGZCGs:gIN9vFwOqvQ"
    border="0"></a> <a href=
    "http://feeds.feedburner.com/~ff/readwriteweb?a=NbfMdVIgEjc:f-l9fuGZCGs:F7zBnMyn0Lo">
    <img src=
    "http://feeds.feedburner.com/~ff/readwriteweb?i=NbfMdVIgEjc:f-l9fuGZCGs:F7zBnMyn0Lo"
    border="0"></a> <a href=
    "http://feeds.feedburner.com/~ff/readwriteweb?a=NbfMdVIgEjc:f-l9fuGZCGs:OqabYuBsmOY">
    <img src=
    "http://feeds.feedburner.com/~ff/readwriteweb?d=OqabYuBsmOY"
    border="0"></a></div>


<p><img src=
"http://feeds.feedburner.com/~r/readwriteweb/~4/NbfMdVIgEjc"
height="1" width="1"></p>

  </p>
  <span class="meta">
    written 








  



<time datetime="2009-12-16T22:54:53-06:00" pubdate data-updated="true">Dec 16<sup>th</sup>, 2009</time>
    


  </span>

  
</article>

            </div>
          </div>
        
          
          <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <article>
  <h2><a href="/blog/2009/automatic-subversion/">Automatic Subversion</a></h2>
  
  <p>
    <p>Looks like there is an automatic mode available.<br>
But I&#8217;m guessing it doesn&#8217;t work well if the network isn&#8217;t
found.<br>
I don&#8217;t know enough about WebDav to have a good option about it
without doing the full setup for myself.<br>
<a href=
"http://blog.taragana.com/index.php/archive/subversion-hack-automatic-versioning-on-save-with-subversion/">
<a href="http://blog.taragana.com/index.php/archive/subversion-hack-automatic-versioning-on-save-with-subversion/">http://blog.taragana.com/index.php/archive/subversion-hack-automatic-versioning-on-save-with-subversion/</a></a></p>

  </p>
  <span class="meta">
    written 








  



<time datetime="2009-12-14T09:51:05-06:00" pubdate data-updated="true">Dec 14<sup>th</sup>, 2009</time>
    


  </span>

  
</article>

            </div>
          </div>
        
      </div>
    </div>

    <hr class="divider-short"/>

    <nav class="container">
      
        <a class="prev pull-left" href="/page8">&larr; Older</a>
      
      
        <a class="next pull-right" href="/page6">Newer &rarr;</a>
      
    </nav>
  </div>
</div>

    <footer id="footer" class="her-row">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
  <a href="/"><h4>Home</h4></a>
</div>

<div class="col-md-2">
    <div class="social-icon-list">
        
        <a href="https://twitter.com/@_ddrscott_"><img src="/images/glyphicons_social_31_twitter.png"/></a>
        

        
        <a href="https://github.com/ddrscott"><img src="/images/glyphicons_social_21_github.png"/></a>
        

        <a href="mailto:ddrscott@gmail.com"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
    </div>
</div>

<div class="pull-right">
  <h4>Powered by <a href="http://octopress.org/">Octopress</a>. Designed by <a href="http://AdrianArtiles.com">Adrian Artiles</a>.</h4>
</div>

  <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-50126719-1', 'auto');
ga('send', 'pageview');
  </script>




<script type="text/javascript">
      var disqus_shortname = 'ddrscottgithubio';
      
        
        var disqus_script = 'count.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>




    </div>
  </div>
</footer>

  </body>
</html>
